.card {
    max-width: calc(33% - 20px);
    min-height: 380px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #666;
    opacity: 0;
}

@media (max-width: 1366px) {
    .card {
        min-height: 30vw;
    }

    .number {
        font-size: 6vw;
    }
}

.number {
    white-space: nowrap;
    font-size: 80px;
    background: linear-gradient(141.8deg, #06ffff 14.44%, #01c4e5 86.47%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #040404;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 40px;
    word-wrap: break-word;
}

.text {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    transform: translateY(120%);
    transition: transform 1.5s ease calc(1s + var(--delay));
}

.text.animated {
    transform: translateY(0);
}

.anim {
    --duration: 1.5s;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
}

.anim.animated {
    animation-name: anim-dflt;
}

@keyframes anim-dflt {
    0% {
        opacity: 0;
        transform: translate3d(0px, 3em, 0px);
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0rem, 0px);
    }
}